.fondunique{
    background-image: url("../../images/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .telephone2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
    height: 1300px;
    position: relative;
    left: 382px;
    top: 320px;
  }
  .container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 33%;
  }
  .sous1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 100%; 
    margin-left: -100px;
  }
  #julien{
    width: 187px;
    height: 239px;
    border-radius: 20px;
  }
  .listing{
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43,3px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    color: #ffffff;
  }
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 33%;   
}
.salon{
    width: 583px;
    height: 345px;
    position: relative;
    border-radius: 30px;
    text-align: center;
    margin-left: 10%;
}
.note{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 33%;     
}
.texte{
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28,8px;
    display: flex;
    align-items: center;
    color: #000000;  
    position: relative; 
    margin-left: 20px;
    margin-bottom: 100px;
    
}
#etoile{
    position: relative;
    width: 35px;
    height: 31px; 
    margin-left: 12%;
    margin-top: 17px;
}
.container3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 33%;   
}
.where{
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;

    color: #000000;
}
.where{
    position: relative;
    margin-left: 150px;
}
.btn-orange3 {
    background-color: #f9ab05;
    padding: 4px 30px;
    border-radius: 9px;
    color: white;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    width: 345.29px;
    height: 89.9px;
  }
.bouton3{
    position: relative;
    margin-top: 100px;
    margin-left: 270px;
  }