.search-bar body {
  background-color: white;
}


.search-bar .header {
  height: 100vh;
  background-image: linear-
  gradientrgba(0,0,0,0.5),rgba(0,0,0,0.5),url(foot.png)
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  border-radius: 9px;
}


.search-bar h1 {
  color: black;
  margin-bottom: 70px;
  font-size: 45px;
  letter-spacing: 2px;
  text-align: center;
}

.search-field {
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  margin-right: 10px;
}

.What {
  width: 230px;
}

.Where {
  width: 135px;
}

.When {
  width: 135px;
}


.search-btn {
  height: 40px;
  width: 170px;
  background: #F9AB05;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.search-btn:hover{
  background: #ffc107;
  cursor: pointer;

}

.form-box {
  background: #048434;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 800px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
